body {
  font-family: 'Roboto', sans-serif;
}

.header {
  margin-top: 50px;
}

h1 {
    font-size: 30px;
}

#landmark-map {
    width: 100vw;
    height: 75vh;
}

.tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 10px;
    background: white;
    border-radius: 5px;
    pointer-events: none;
    font-size: 12px;
}