body {
    font-family: 'Roboto', sans-serif;
}

#landmark-map {
    width: 100vw;
    height: 100vh;
}

.tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 10px;
    background: white;
    border-radius: 5px;
    pointer-events: none;
    font-size: 12px;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#floating-select {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}
