body {
    font-family: "Poppins", sans-serif;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.btn-outline-primary {
    --bs-btn-font-weight: bold;
    --bs-btn-border-width: 2px;
    --bs-btn-color: #33272a;
    --bs-btn-bg: #fffffe;
    --bs-btn-border-color: #33272a;
    --bs-btn-hover-color: #33272a;
    --bs-btn-hover-bg: #fffffe;
    --bs-btn-hover-border-color: #33272a;
    --bs-btn-active-color: #ff8ba7;
    --bs-btn-active-bg: #33272a;
    --bs-btn-active-border-color: transparent;
    --bs-btn-active-shadow: none;
    --bs-gradient: none;
}

.accordion {
    --bs-accordion-border-width: 2px;
    --bs-accordion-border-color: #33272a;
    --bs-accordion-color: #33272a;
    --bs-accordion-bg: #fffffe;
    --bs-accordion-btn-color: #0d0d0d;
    --bs-accordion-active-color: #33272a;
    --bs-accordion-active-bg: #ff8ba7;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

#landmark-map {
    width: 100vw;
    height: 100vh;
}

.navbar-brand {
    display: flex;
    justify-content: center;
    width: 100%;
}

#sidebar {
    background-color: transparent;
    width: 360px;
    position: absolute;
    padding-top: 12px;
    z-index: 1000;
}

@media (max-width: 430px) {
    #sidebar {
        width: 100%;
    }
}

.card {
    --bs-card-spacer-x: 0rem;
}

p.d-inline-flex.gap-1{
    margin-bottom: 0;
}

#toggle {
    width: 360px;
}

#toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    gap: 10px;
}

@media (max-width: 375px) {
    .btn {
        --bs-btn-font-size: 0.8rem;
    }
    .btn svg {
        width: 0.8rem;
        height: 0.8rem;
    }
}

.tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 10px;
    background: white;
    border-radius: 5px;
    pointer-events: none;
    font-size: 12px;
}

#title {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

/* toggle */
.btn-group-vertical {
    padding-right: 0px;
    padding-left: 0px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

.emoji-icon-1 img {
    width: 18px;
    height: 18px;
}

.emoji-icon-2 {
    font-size: 20px;
    line-height: 1;
    text-align: center;
}

#collapseOne img {
    width: 150px;
    padding: 0px;
}

.tooltip {
    border: 2px solid #33272a;
    max-width: 340px;
    padding: 18px;
    background-color: #faeee7;
    color: #33272a;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.tooltip img {
    margin-bottom: 0.75rem;
}